/* 
    Document   : kmcomputer.general
    Created on : 21-jul-2012, 11:48:14
    Author     : Laptop
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
div#navbar {  
    background-color: #8FC73E;  
    padding: 10px 0;  
    height: 16px;
} 

div#navbar ul {  
    list-style: none;  
    display: block;  
}  

div#navbar ul li {  
    float: left;  
    font: bold 1em Arial;  
    width: auto;
} 
div#navbar .active{
    background: #0398CA;
}

div#navbar li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    background: #8FC73E;
}
div#navbar ul li a{  
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    white-space: nowrap;
} 
div#navbar ul li a:hover{  
    background: #ccc;
} 

div#navbar ul li ul li a:hover{  
    background: #fff;
} 

div#navbar ul li ul {  
    float:none;
    display: none;
} 
div#navbar ul li ul li{  
    float:none;

} 
#dialog-confirm{
    display: none;
}


