/* 
    Document   : kmcomputer.general
    Created on : 21-jul-2012, 11:48:14
    Author     : Laptop
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
div#navbar {  
    background-color: #8FC73E;  
    padding: 10px 0;  
    height: 16px;
} 

div#navbar ul {  
    list-style: none;  
    display: block;  
}  

div#navbar ul li {  
    float: left;  
    font: bold 1em Arial;  
    width: auto;
} 
div#navbar .active{
    background: #0398CA;
}

div#navbar li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    background: #8FC73E;
}
div#navbar ul li a{  
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    white-space: nowrap;
} 
div#navbar ul li a:hover{  
    background: #ccc;
} 

div#navbar ul li ul li a:hover{  
    background: #fff;
} 

div#navbar ul li ul {  
    float:none;
    display: none;
} 
div#navbar ul li ul li{  
    float:none;

} 
#dialog-confirm{
    display: none;
}


/*carrito de compras*/
#ListProduct{
    padding: 30px 0px 0px 20px;
    
}
#ListProduct li{
    
    width: auto;
    list-style: none;  
}
.ItemCarritoImagen{
    width: 150px;
    float: left;
}
.ItemCarritoNombre{
    width: 250px;
    float: left;
    padding: 0px 10px 10px 0px;
}
.ItemCarritoCantidad{
    width: 80px;
    float: left;
    
}
.ItemCarritoCantidad input{
    width: 50px;
}
.ItemCarritoSumRest{
    width: 50px;
    float: left;
}
.precioTotalItem{
    width: 50px;
    float: left;
}
.footerListCarrito  #foot1
{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    
}
.footerListCarrito  #foot2
{
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    
}
.footerListCarrito  #foot3
{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.optionEliminarItem{
    width: 80px;
    float: left;
}
/**/

